.content {
  display: flex;
  flex-wrap: wrap;
}

body {
	font-family: 'Lato', sans-serif;
	background-color: darkgrey;
}

header {
	text-align: right;
}

.logo {
	border-radius: 50%;
	margin-top: -300px;
}

hr {
	width: 95%;
    border-width: 2px;
}

.projects, footer{
	text-align: center;
}

.image-holder>img, a>img {
	width: 100%;
}

.project {
	padding-bottom: 25px;
	border: 1px solid black;
	border-radius: 10px;
}

@media screen and (min-width: 600px) {
	.project {
		width: 45%;
}
}

@media screen and (min-width: 700px) {
	.project {
		width: 33%;
	}
}

@media screen and (min-width: 850px) {
	body {
		width: 850px;
		margin-left: auto;
		margin-right: auto;
	}
}